{% extends "modelo.html" %}

{% block conteudo %}

<!-- Cabeçalho -->
<header>
    <h1 class="fw-bold">Nossa Equipe</h1>
    <p class="lead">Conheça os integrantes que desenvolveram este projeto.</p>
</header>

<!-- Conteúdo -->
<div class="container py-5">

    <div class="row g-4 justify-content-center">

        <!-- cintia -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/cinthia.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary">Cinthia Lavinia</h4>
                    <p>Estudante de Sistemas para internet do 1º período</p>
                </div>
            </div>
        </div>

        <!-- Lucy -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/luciana.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary">Luciana Neves</h4>
                    <p>Estudante de sistemas para internet do 1º período</p>
                </div>
            </div>
        </div>

        <!-- Elisio -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/elisio.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary"> Elisio Capitulino</h4>
                    <p> Estudante de sistemas para internet do 1º período, especialista em IA</p>
                </div>
            </div>
        </div>

        <!-- Edme -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/edme.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary">Edme Lima</h4>
                    <p>Estudante de Sistemas para internet do 1º período</p>
                </div>
            </div>
        </div>

        <!-- Carlos -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/carlos.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary">Carlos André</h4>
                    <p>Estudante de Sistemas para internet do 1º período</p>
                </div>

            </div>
        </div>

        <!-- Davi -->
        <div class="col-md-4">
            <div class="team-card shadow-sm">
                <img src="../static/img/davi.jpeg" class="team-photo" alt="Foto do membro">
                <div class="p-3">
                    <h4 class="fw-bold text-primary">Davi Carneiro</h4>
                    <p>Estudante de Sistemas para internet do 1º período</p>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- Rodapé -->
<footer>
    <p>© 2025 - Equipe de Desenvolvimento</p>
</footer>


{% endblock %}