body {
    background: #f7f9fc;
    font-family: "Segoe UI", sans-serif;
}

header {
    background: linear-gradient(45deg, #0d6efd, #6610f2);
    color: white;
    padding: 60px 0;
    text-align: center;
}

.career-card {
    border-radius: 12px;
    transition: 0.3s;
}

.career-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}

footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.logo {
    width: 100px;
    height: 100px;
}

.team-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.12);
    transform: translateY(-6px);
}

.team-card:hover {
    background: white;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 14px;
}

.team-card {
    text-align: center;
    padding: 60px 0;
    color: white;
    background: linear-gradient(45deg, #6610f2, #0d6efd);
}

.career-card {
    border-radius: 12px;
    transition: 0.3s;
}

.career-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}
